html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    .fl & {
        font-family: $font__primary;
    }
}

main {
    background-image: url("../media/Ari-31.jpg");
    background-color: black;
}

*, *:before, *:after { box-sizing: inherit; }

pre > code { background: none !important;}
