html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    .fl & {
        font-family: $font__primary;
    }
}

*, *:before, *:after { box-sizing: inherit; }

pre > code { background: none !important;}
