/*
Main

Markup:
<main class="l-main">
    <div class="h-fg--white--regular">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut veritatis veniam deserunt iste cupiditate accusamus delectus maxime perferendis eos sit quam commodi, impedit ad dolore repellat ipsam. Placeat, velit, quas!</div>
</main>

Styleguide 2.1
 */


.l-main {
    background-image: url("../media/Ari-31.jpg");
    background-color: black;
}
