/**
Sections

Die Section-Komponente gliedert die einzelnen, navigierbaren Sektionen des One-Pagers.

Markup:
<section class="section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum modi fugit, doloribus quam, dolore id.</p>
</section>
<section class="section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum modi fugit, doloribus quam, dolore id.</p>
</section>

Styleguide 3.3
*/

.section {
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    padding: $spacer * 4 $spacer * 2;

    /*opacity: 0;
    transition: .5s;*/

    /*&:first-of-type {
        opacity: 1;
    }

    &:target {
        opacity: 1;
    }*/
}
